@{
    ViewData["Title"] = "Index";
}
<style>
    .bd {
        border-radius: 10px;
        width: 300px;
        height: 250px;
    }

    .btn {
        margin-left: 25px;
        padding-left: 10px;
        width: 250px;
    }

    body {
        background-color: cadetblue;
    }
</style>
<body class="body">

    <div class="row mt-lg-5 pt-5">
        <div class="border-dark ">
            <div class="col border-dark pt-3 pl-3">
                <img src="https://c8.alamy.com/comp/MDG4KT/customers-flat-design-orange-round-vector-icon-in-eps-10-MDG4KT.jpg" class="bd w-90 " />
            </div>
            <br />
            <div class="col">
                <a asp-controller="Appointment" asp-action="Create" class="btn btn-danger">Book Appointment</a>
            </div>
        </div>
        <div class="col border-dark pt-3 pl-5">
            <div class="col">
                <img src="https://www.drzimmerman.com/wp-content/uploads/2016/07/Employee-Engagement-Icon-Image-1400x800-862x493.png" class="bd w-90" />
            </div>
            <br />
            <div class="col">
                <a asp-controller="Appointment" asp-action="Index" class="btn btn-danger ">Appointments</a>
            </div>
        </div>
        <div class="col border-dark pt-3 pr-5">
            <div class="col">
                <img src="https://www.drzimmerman.com/wp-content/uploads/2016/07/Employee-Engagement-Icon-Image-1400x800-862x493.png" class="bd w-90 " />
            </div>
            <br />
            <div class="col">
                <a asp-controller="Doctor" asp-action="Index" class="btn btn-danger ">Doctor List</a>
            </div>
        </div>
        

    </div>
</body>