@using Microsoft.AspNetCore.Http;
@{
    var isvalid = Context.Session.GetString("token");
    var role = Context.Session.GetString("role");
}

@if (isvalid != null)
{


    @if (role == "Admin")
    {
        <ul class="navbar-nav my-2 my-sm-0">

            <li class="nav-item"><a asp-action="RegisterDoctor" asp-controller="Accounts" class="nav-link">Register Doctor</a></li>
            <li class="nav-item"><a asp-action="DoctorList" asp-controller="Admin" class="nav-link">Doctor</a></li>


            <li class="nav-item"><a asp-action="PatientList" asp-controller="Admin" class="nav-link">Patient</a></li>

            <li class="nav-item"><a asp-controller="Admin" asp-action="Index" class="nav-link">welcome,@ViewBag.Name</a></li>
            <li class="nav-item">
                <form asp-controller="Accounts" asp-action="LogOut" method="post">
                    <input type="submit" class="btn btn-link nav-link" value="Sign Out" />
                </form>
            </li>
        </ul>
    }
    else if (role == "Doctor")
    {
        <ul class="navbar-nav my-2 my-sm-0">

            <li class="nav-item"><a asp-action="Index" asp-controller="Appointment" class="nav-link">Appointments</a></li>


            <li class="nav-item"><a asp-action="Create" asp-controller="Doctor" class="nav-link">Add Profile</a></li>

            <li class="nav-item"><a asp-controller="DoctorHome" asp-action="Index" class="nav-link">welcome,@ViewBag.Name</a></li>
            <li class="nav-item">
                <form asp-controller="Accounts" asp-action="LogOut" method="post">
                    <input type="submit" class="btn btn-link nav-link" value="Sign Out" />
                </form>
            </li>
        </ul>
    }
    else if (role == "Patient")
    {
        <ul class="navbar-nav my-2 my-sm-0">

            <li class="nav-item"><a asp-action="Create"  asp-controller="Appointment" class="nav-link">Book Appointment</a></li>


            <li class="nav-item"><a asp-action="Create" asp-controller="Patient" class="nav-link">Add Profile</a></li>
            <li class="nav-item"><a asp-action="Index" asp-controller="Doctor" class="nav-link">List of Doctors</a></li>

            <li class="nav-item"><a asp-controller="PatientHome" asp-action="Index" class="nav-link">welcome,@ViewBag.Name</a></li>
            <li class="nav-item">
                <form asp-controller="Accounts" asp-action="LogOut" method="post">
                    <input type="submit" class="btn btn-link nav-link" value="Sign Out" />
                </form>
            </li>
        </ul>
    }


}
else
{
    <ul class="navbar-nav my-2 my-sm-0 ">
        <li class="nav-item d-inline-flex right">
            <a class="nav-link" asp-area="" asp-controller="Accounts" asp-action="Register">Register</a>
        </li>
        <li class="nav-item d-flex ">
            <a class="nav-link" asp-area="" asp-controller="Accounts" asp-action="Login">Login</a>
        </li>
    </ul>
}

<style>
    .right {
        margin-left: 600px;
    }
    .mar{
        margin-left:100px;
    }
</style>
