@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="content">
        <h1>INFINITE <br /><span>HEALTH CARE</span><br />CENTERS</h1>
        <p class="par">Here you can connect to various doctors<br />
        and book appointments.</p>
    </div>
</body>

<style>
    body {
        background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(https://images.unsplash.com/photo-1631248055158-edec7a3c072b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1161&q=80);
        background-position: center;
        background-size: cover;
    }

    .content {
        width: 1200px;
        height: auto;
        margin: auto;
        color: #fff;
        position: relative;
    }

        .content .par {
            padding-left: 20px;
            padding-bottom: 25px;
            font-family: Arial;
            letter-spacing: 1.2px;
            line-height: 30px;
        }

        .content h1 {
            font-family: 'Times New Roman';
            font-size: 50px;
            padding-left: 20px;
            margin-top: 9%;
            letter-spacing: 2px;
        }

        .content .cn {
            width: 160px;
            height: 40px;
            background: #ff7200;
            border: none;
            margin-bottom: 10px;
            margin-left: 20px;
            font-size: 18px;
            border-radius: 10px;
            cursor: pointer;
            transition: .4s ease;
        }

            .content .cn a {
                text-decoration: none;
                color: #000;
                transition: .3s ease;
            }

    .cn:hover {
        background-color: #fff;
    }

    .content span {
        color: #ff7200;
        font-size: 65px
    }
</style>