@model DoctorVM
@{
    ViewData["Title"] = "Edit";
}

<body>
    <div class="container offset-4 pt-5">
        <h1>Edit Customer</h1>

        <form asp-controller="Doctor" asp-action="Edit" method="post">
            <div class="row">
                <div class="col-md-4">
                    <div asp-validation-summary="All" class="text-danger"></div>


                    <input type="hidden" asp-for="DoctorName" />
                    <input type="hidden" asp-for="EmailId" />
                    <input type="hidden" asp-for="Password" />
                    <input type="hidden" asp-for="Qualification" />
                    <input type="hidden" asp-for="Specilization" />


                    <div class="mb-2">
                        <label asp-for="Address" class="form-label"></label>
                        <input type="text" asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address"></span>
                    </div>
                    <div class="mb-2">
                        <label asp-for="City" class="form-label"></label>
                        <input type="text" asp-for="City" class="form-control" />
                        <span asp-validation-for="City"></span>
                    </div>
                    <div class="mb-2">
                        <label asp-for="State" class="form-label"></label>
                        <input type="text" asp-for="State" class="form-control" />
                        <span asp-validation-for="State"></span>
                    </div>
                    
                    <div class="mb-2">
                        <label asp-for="PhoneNo" class="form-label"></label>
                        <input type="text" asp-for="PhoneNo" class="form-control" />
                        <span asp-validation-for="PhoneNo"></span>
                    </div>
                    <div class="mt-2" d-grid>
                        <input type="submit" class="btn btn-primary" value="Update Doctor" />
                    </div>
                </div>
            </div>

        </form>
    </div>
</body>

